.image {
    width: 200px;
    height: 200px;
}   

.top {
    background-color: #1F2937;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FAF8;
}

.hero, .headlink {
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}